@mixin fade-transition($element) {
  transition: $element 0.15s ease-in-out;
}

.button {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #f2f2f2;
  border: 2px solid #f2f2f2;
  padding: 15px 30px;
  text-align: center;
  background: rgba(191, 128, 121, 0.6);
  overflow: hidden;
  @include fade-transition(background);

  &:hover {
    background: rgba(151, 88, 81, 0.6);
  }

  i {
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    opacity: 0;

    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(255, 255, 255, 0) 100%
    );

    transform: skew(-20deg);
    animation: shine 2s infinite;
    animation-delay: 1s;
  }

  >img {
    margin-left: 10px;
  }
}

@keyframes shine {
  0% {
    left: -100%;
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  50% {
    left: 100%;
    opacity: 0.2;
  }
  60% {
    opacity: 0;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
